.Task {
  cursor: pointer !important;
  @apply p-5 bg-gray-dark my-2 relative rounded-md;
}

.TaskHeader {
  @apply flex justify-between items-start text-lg;
}

.TaskHeader p {
  @apply max-w-[250px] overflow-hidden overflow-ellipsis whitespace-nowrap;
}

.TaskFooter {
  @apply flex gap-3 pt-4 items-center;
}

.TaskFooter > span {
  color: rgb(138, 143, 152);
  @apply px-1 flex text-sm py-1 bg-transparent hover:text-gray-lightest transition-all gap-2 items-center justify-start border border-gray-light rounded-md;
}

.TaskFooter svg:hover {
  @apply fill-lightest transition-all;
}

/* To Switch Cursor while dragging the task */
.Grabbing {
  cursor: grabbing !important;
}

.Default {
  cursor: default !important;
}

.Avatar {
  @apply rounded-full object-contain;
}

.AvatarStatus {
  @apply bg-green-600 w-[6px] h-[6px] z-10 rounded-full absolute top-5 right-5;
}
