.Modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background: linear-gradient(
    136.61deg,
    rgb(39, 40, 43) 13.72%,
    rgb(45, 46, 49) 74.3%
  );
  transition: all 0.2s ease-in-out;
  @apply w-10/12 invisible lg:w-8/12 xl:w-5/12 z-30 top-44 opacity-0 shadow-lg rounded-lg;
}

.Open {
  transform: translate(-50%, -50%) !important;
  @apply opacity-100 visible top-52;
}
