.Lists {
  @apply mt-5;
}

.List {
  @apply mt-2 relative;
}

.Header {
  color: rgb(138, 143, 152);
  padding: 0.2rem 0;
  @apply px-3 rounded-md;
}

.Header:hover {
  background-color: rgb(45, 47, 54);
}

.Header h3 {
  @apply flex items-center gap-2;
}

.Header svg {
  transition: transform 0.2s ease;
  fill: transparent;
}

.Header:hover.Header svg {
  fill: #8a8f98;
}

.RotateArrow {
  transform: rotate(90deg);
}

.TaskLists {
  transition: all ease 0.2s;
  @apply h-0 overflow-hidden mt-2;
}

.TaskLists.Open {
  animation: TaskLists 0.2s forwards !important;
}

@keyframes TaskLists {
  0% {
    height: 0;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

.Tasks {
  transition: all 0.2s ease;
  @apply h-0 overflow-hidden;
}

.Tasks.OpenTasks {
  @apply h-auto;
}

.Title {
  @apply rounded-md font-medium flex px-3 py-1 justify-between text-gray-lightest;
}

.Title svg {
  transition: transform 0.2s ease;
}

.Title:hover {
  background: rgb(45, 47, 54);
}

.OpenOptionsButton:hover.Title {
  background: transparent !important;
}

.Title:hover .OpenOptionsButton svg {
  @apply opacity-100;
}

.OpenOptionsButton svg {
  transition: all 0.1s ease;
  @apply opacity-0;
}

.OpenOptionsButton:hover svg {
  fill: rgb(209, 213, 219);
}

.Task {
  @apply flex items-center gap-2 my-1 rounded-md pl-8 py-1 text-gray-lightest;
}

.Task:hover {
  background: rgb(45, 47, 54);
}

.TaskCheckbox {
  @apply appearance-none border-2 transition-all border-gray-lightest p-[4.5px] rounded-full;
}

.TaskCheckbox:checked {
  @apply bg-gray-lightest;
}
